@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 100%;
    position: relative;
}

a, h2, h3, h4, h5, h6, p, span, label{
    font-family: "Lato", sans-serif;;
}

h1{
    font-family: "Hurricane", cursive;
    font-weight: 400;
    /* font-style: normal; */
    font-size: 100px;
}

h3{
    font-size: 22px;
}

/* navbar */

header{
    width: 100%;
    background-color: rgb(26, 26, 26);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

nav{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-side{
    display: flex;
    align-items: center;
}

#logo{
    animation: rotate 8s linear infinite;
    transform-origin: center;
    padding: 0;
    display: flex;
}

#logo > img{
    width: 50px;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 20px;
}

nav a{
    margin: 0 15px;
    padding: 18px 10px;
    color: white;
    letter-spacing: 2px;
}

nav span{
    margin: 0 15px;
    padding: 18px 10px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

.basket{
    color: white;
    z-index: 1000;
    font-size: 25px;
    position: relative;
}

.basket-order-counter{
    position: absolute;
    bottom: -8px;
    left: -8px;
    width: 18px;
    height: 18px;
    background-color: rgb(226, 3, 3);
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner */
#banner{
    background-image: url('./assets/info2.jpg');
    background-position: center;
    height: 55vh;
    background-color: red;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner > h1{
    font-size: 160px;
}

/* info */

#info{
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

#info > p{
    padding: 10px 0;
}

/* menu */

#menu > h1{
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}

#menu-container{
    display: flex;
    justify-content: center;
}

#menu-content{
    display: grid;
    grid-template-columns: repeat(2,  750px);
    gap: 50px;
    padding-bottom: 100px;
}

.pizza-block{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    position: relative;
}

.pizza-block > img{
    width: 150px;
}

.pizza-block-info{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;
}

.pizza-block-info > h3{
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.pizza-block-desc{
    letter-spacing: 2px;
    font-size: 12px;
    color: gray;
}

.pizza-block-price{
    color: black;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.pizza-block-button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    background-color: rgb(238, 237, 237);
    transition: background-color .2s ease-in-out;
}

.pizza-block-button:hover, .btn:hover{
    background-color: rgb(227, 227, 227);
}

/* footer */

footer{
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    padding: 25px 0;
    letter-spacing: 2px;
    line-height: 28px;
}

footer div{
    padding: 8px 0;
}

footer a{
    color: white;
    margin: 0 10px;
}

.social{
    width: 30px; 
    background-color: white;
    border-radius: 7px;
}

.x-social{
    padding: 2px;
}

/* modal do dodawania pizzy */

.pizza-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    cursor: pointer;
}

.pizza-modal{
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: white;
    z-index: 1000;
    width: 50%;
    padding: 50px;
    border-radius: 12px;
    display: none;
}

.pizza-modal-heading{
    font-size: 30px;
}

.pizza-modal-desc{
    font-size: 20px;
    letter-spacing: 2px;
}

.pizza-modal-x{
    width: 20px;
}

.close{
    font-size: 20px;
    color: black;
    padding: 0;
}

.pizza-modal-options{
    padding: 20px;
}

.pizza-modal-options > h3{
    padding: 50px 0 20px;
}


.pizza-modal-select{
    padding: 9px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(238, 237, 237);
    width: 300px;
    cursor: pointer;
    border: none;
}

.pizza-modal-sauce{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.pizza-modal-sauce > input[type="checkbox"], .pizza-modal-sauce > label{
    cursor: pointer;
}

.pizza-modal-sauce *{
    margin-right: 10px;
}

.pizza-modal-buttons-container{
    width: 100%;
    padding-top: 70px;
    text-align: right;
}

.btn{
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: rgb(238, 237, 237);
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    font-weight: bold;
}

.pizza-modal-left-btn{
    margin-right: 20px;
}

/* modal dla zamówienia */
.pizza-modal > h2{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 30px 0;
}

.orders-modal-content-empty{
    width: 100%;
    text-align: center;
    padding: 40px 0;
    letter-spacing: 2px;
}

.orders-modal-content{
    width: 100%;
    padding: 40px 0;
}

.orders-modal-content-element{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.order-modal-sauce{
    font-size: 18px;
    font-weight: 400;
}

.orders-modal-content-btn-container{
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.orders-modal-content-element-right{
    display: flex;
    align-items: center;
}

.orders-modal-content-element-right > h2{
    font-size: 25px;
}

.trash-btn{
    color: rgb(227, 0, 0);
    transition: color .2s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

.trash-btn:hover{
    color: red;
}

.orders-form{
    padding-top: 50px;
}

.orders-form > label{
    font-size: 20px;
    letter-spacing: 1px;
}

.orders-form > div > input{
    margin: 10px 0 20px;
    padding: 5px;
    width: 300px;
    font-size: 18px;
    border: 1px solid black;
}

.orders-form > div > div{
    font-size: 20px;
    color: red;
    padding: 10px;
}

.fade-in-animation{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s ease-in forwards;
}

.fade-in-animation-5d{
    animation-delay: .5s;
}


.fade-in-animation-1s{
    animation-delay: 1s;
}

/* RWD */
@media all and (max-width: 1600px){
    #menu-content{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        /* gap: 30px; */
        padding: 40px 0;
    }

    .pizza-modal{
        width: 90%;
        padding: 20px;
    }
}

@media all and (max-width: 610px){
    .menu-display-none{
        display: none;
    }

    #banner > h1{
        font-size: 90px;
    }

    #info{
        text-align: left;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .pizza-block{
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .pizza-block-info{
        text-align: justify;
        padding: 0;
    }

    .pizza-block-info > *{
        padding: 15px 0;
    }

    .pizza-modal{
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 0px;
        overflow: scroll;
    }

    .pizza-modal-select{
        width: 100%;
    }

    .pizza-modal-buttons-container > *{
        margin: 10px 0;
    }

    #orders-modal{
        padding-top: 40px;
    }

    .orders-form > div{
        flex-direction: column;
    }

    .orders-form > div > input{
        width: 100%;
    }
}

/* animacje */
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}